PORT=8080
GIN_MODE=debug

DB_HOST=localhost
BD_PORT=5432
DB_USER=postgres
DB_PASSWORD=DB_PASSWORD
DB_NAME=example_db
DB_SSLMODE=disable

JWT_SECRET=key
JWT_EXPIRES_IN=24h
REFRESH_TOKEN_EXPIRES_IN=72h

AWS_REGION=us-east-1
AWS_AACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_S3_BUCKET=ecmpc-uploads
AWS_S3_ENDPOINT=http://localhost:9000

UPLOAD_PATH=./uploads
MAX_UPLAOD_SIZE=10485760